header{
    font-size:1rem;
    z-index: 1;
    position: absolute;
    width: 100%;

    &.no-image{
        position: static;
    }

    @include bp-header-542 {
        position: static;
    }
}


header .main-logo{
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    float:left; 
    margin-left:5%;
    padding: 55px 15px 15px;
    text-align: center;
    background: $pink;
    color: $white;
    text-decoration: none;

    &:hover, &:focus{ 
        color: lighten($pink, 20%);
    }

    @include bp-sm {
        margin: 0;
    }

    @include bp-header-542 {
        width:100%;
        padding:15px;
    }
    
}

header .main-nav{
    text-align:right;
    float:right;
    padding: 20px 15px 15px;
    background: $pink;
    margin-right:5%;

    ul{
        ul{
            position: absolute;
            top: 1.2em;
            left: -9999px;
            opacity: 0;
            min-width: 115px;
            background: $pink;
            border:1px solid $white;
            z-index: 10;

            li{
                float: none;
                position: static;
                padding:5px 10px;
                border-bottom:1px solid $white;
                display: block;
                text-align: left;
                margin-right:0;

                a{
                    float: none;
                    display: block;
                    color:$white;
                    font-size:0.9em;

                    &:hover, &:focus{
                        color: lighten($pink, 10%);
                    }
                }

                &:last-of-type{
                    border-bottom:0;
                }

            }
        }

        li{
            float: left;
            position: relative;
            margin-right:15px;

            & > a{
                float: left;
                color:$white;
                font-size:1.15em;
                text-decoration: none;

                &:hover, &:focus{
                    color: lighten($pink, 10%);
                }
            }

            &.active > a {
                color:$white;
                text-decoration: underline;
            }

            &:focus, &:hover{

                & > a{
                    color: lighten($pink, 10%);
                }

                ul, ul.show-menu{
                    left: 0;
                    opacity: 1;
                }
                
            }

            &:last-of-type{
                margin-right:0;
            }

            ul.show-menu{
                left:0;
                opacity: 1;
            }

            @include bp-header-542 {
              float: none;
            }
        }
    }

    @include bp-sm {
        margin: 0;   
    }

    @include bp-header-542 {
        width:100%;
        padding:15px;
        text-align: center;
    }
}

.main-nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

.main-nav li{
    display:inline-block;
}



