.main-hero{
	margin-bottom:60px;
	position:relative;

	img{
		max-width: 100%;
	}

	.call-out-block{
		background:$pink;
		padding:15px;
		position: absolute;
		right: 5%;
		bottom: 25%;
		margin-left:5%;
		color: $white;
		font-size:2em;

		&:after{
			content:"\f10a";
			font-family: Ionicons;
			margin-left:10px;
			font-size:1.1em;
		}

		&:hover, &:focus{
			color: lighten($pink, 20%);
			text-decoration: none;
		}

		@include bp-sm {
			position:static;
			display: block;
			font-size:1.2em;
			margin-left:0;
		}
	}

	@include bp-sm {
		margin-bottom:30px;
	}
}

#home-about{
	margin-top:0;

	p{
		@include bp-sm {
			text-align: justify;
		}
	}
}

.home-page-gallery{
	overflow:auto;

	li{
		width:50%;
		float:left;
		margin: 10px 0;

		@include bp-sm {
			width:48%;
			margin:1%;
		}


		img{
			max-width: 100%;
		}
	}
}

.home-page-schedule{
	li{
		margin: 20px 0;

		h4{
			margin:0;
		}

		p{
			margin:0;
		}

	}
}